<!DOCTYPE html>
<html>
<head>
  <title>XMLFeedBuilder</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application', defer: true %>
</head>
<body class="bg-light">
<div id="root" class="pt-0"></div>
<%= yield %>
</body>
</html>
